@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    font-family: Roboto, sans-serif;
    font-style: normal;
    
    box-sizing: border-box;
    scrollbar-width: thin; /* Barra de rolagem fina */
    scrollbar-color: #f1f1f1 #fff; /* Pegada / Trilha */

}

body{
    display: grid;
    grid-template-rows: 6% 4fr 3fr 4fr;
    grid-template-columns: 1fr 7fr;
    width: 100vw;
    height: 100vh
    
}

button:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

header{
    display: grid;
    grid-template-columns: repeat(1fr);
    padding: 0px 40px 0px 16px ;
    grid-row: span 1;
    grid-column: 1 / 4;
    align-content: center;
}

header button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    border-style: none;
}

.left-area{
    display: inline-flex;
    align-items: center;
    justify-items: initial;
    grid-column: 1 / span 1;
    gap: 16px;
}

.logo{
    display: inline-flex; 
}

.logo img{
    width: 90px;
}

.center-area{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-column: 2 / span 1;
    gap: 8px;
}

.center-area button{
    background-color: #f2f2f2;
}

.center-area button:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

.search {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;;
    gap: 0px;
}

.search input {
    width: 88%;
    height: 40px;
    gap: 0px;
    padding: 0px 15px;
    background-color: white;
    border-radius: 30px 0px 0px 30px;
    border-style: solid;    
    border-color: #e5e5e5;
}

.search button{
    width: 12%;
    height: 40px;
    border: 1px;
    border-radius: 0px 30px 30px 0px;
    border-style: solid;
    border-color: #e5e5e5;
}

.search button:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.search input::placeholder{
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: grey;
}

.right-area{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-items: right;
    grid-column: 3 / span 1;
    gap: 16px;
}

.right-area figure img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

aside{
    display: flex ;
    grid-template-rows: 1fr 4fr 2fr;
    flex-direction: column;
    grid-row: 2 / 8 ;
    grid-column: span 1;
    gap: 0;
    overflow: auto;
    scroll-behavior: smooth; 
}

.aside-menu{
    display: grid;
    align-items: start;
    align-content: start;
    padding: 8px 8px 20px 8px;
    border-bottom: 2px;
    border-color: #e5e5e5;
    border-style: solid;
}

.aside-btn{
    height: 40px;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    gap: 14px;
    font-size: 14px ;
}

.font-weight{
    padding: 16px;
    gap: 0px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.aside-btn figure img{
    width: 50%;
}

.font-weight figure img{
    width: 30%;
}
.aside-btn-home{
    background-color: #f2f2f2;
    font-weight: 500;
}

.aside-btn-sugestions{
    padding: 16px; 
    font-size: 14px;
    
}
.aside-btn-sugestions figure img{
    width: 24px; 
}

.aside-btn-arrow figure img{
    width: 15px;
}

.aside-info {
    gap: 32px;    
    padding: 32px;
    font-family: sans-serif;
}

.aside-copy{
    font: 4px;
    font-family: Roboto, sans-serif;   
}

main{
    display: flex;
    flex-direction: column;
    grid-row: 2 / span 3;
    grid-column: 2 / span 2;
    background-color: white;
}

.filter {
    height: 12%;
    gap: 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-btn{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #f2f2f2;
}

.filter-btn-select{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    background-color: black;
}

.videos{
    width: 100%;
    display: grid;
    grid-row: 2fr 2fr 2fr ;
    gap: 90px;
    padding: 16px;
    overflow: auto;
    scroll-behavior: smooth;
}
.videos-normal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}
.video-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}


.video-thumbnail img{
    width: 100%;
}
.video-details{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    padding: 4px;
    gap: 8px;
    align-items: flex-start;
    align-content: center;
}
.video-perfil img{
    width: 100%;
}
.video-icon img{
    width: 100%;
}

.video-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.video-info h3{
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3;
}

.video-info h4{
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.videos-shorts{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0px 16px;
}

.short-title{
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: start;
    gap: 12px;
    
}

.short-title figure img{
    width: 22px;
}

.short-recommendation{   
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
}


.short-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.short-thumbnail img{
    width: 100%;
}

.short-details{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 4px;
    gap: 8px;
    align-items: flex-start;
    align-content: stretch;
}

.short-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.short-info h3{
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3;
}

.short-info h4{
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.short-info-icon{
    width: 32px;
}